.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  font-family: "Courier New";
}
h3, h4 {
  margin: 30px;
}

h2 {
  font-size: 30px;
  margin: 30px;
}
p {
  margin: 30px;
  font-size: 15px;
}

table, th, td {
  border-collapse: collapse;
  margin: 30px;
}
th, td {
  padding: 10px;
  text-align: left;
  width: 50%;
}

span {
  position: absolute;
  top: 0px;
  right: 10px;
}

.title {
    font-size: 40px;
}

#home {
  border: 3px solid white;
  width: 60%;
  margin: 30px;
  font-size: 15px;
  color: white;
  padding: 12px;
}

#home:hover {
  background-color: #FFFFFF;
  color: #1DC5A2;
}

#home a:hover {
  color:#0FBF9A;
  font-size: 16px;
}

#home a {
  color: white;
  font-size: 16px;
}

button#closeButton {
  border: 3px solid white;
  width: 60%;
  margin: 30px;
  font-size: 15px;
  color: white;
  padding: 12px;
}

button#closeButton:hover {
  background-color: #FFFFFF;
  color: #1DC5A2;
}

button#closeButton a:hover {
  color:#0FBF9A;
  font-size: 16px;
}

button#closeButton a {
  color: white;
  font-size: 16px;
}

.sidenav {
  padding-top: 20px;
  height: 100%;
	width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0FBF9A;
  opacity:0.97;
  /*background-color: rgb(0, 184, 135, .94);*/
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.sidenav a {
  margin: 0px 15px 10px 40px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #fff;
  font-weight: bold;
}


.topContainer{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
}

.navHeader{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* test button */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

button {
  position:relative;
  background:white;
  border:1px solid #0FBF9A;
  padding:20px;
  font-size:0.9em;
  color:#0FBF9A;
  box-shadow:4px 4px 0px 0px #0FBF9A;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  letter-spacing:5px;
  text-transform:uppercase;
  transition: all 200ms ease-in-out;
  left:0;
  top:0;
  margin: 30px;
}

button:hover {
  left:4px;
  top:4px;
  box-shadow:0 0 0 0 #0FBF9A;
}

@media (max-width: 850px) {
  .sidenav {padding-top: 15px;}
	sidenav {padding-bottom: 50px;}
  .sidenav a {font-size: 18px;}
  .sidenav {background-color: #0FBF9A;}
}
